<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='styles/global.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/profile.css') }}" rel="stylesheet">


    <title>Profile Page</title>
</head>

<body>
    <form class="profile-form">
        <div class="content">
            {% if user_data %}
            <div class="user_data">
                {% if username_len > 0 %}
                <div id="header" class="input-block">
                    <h1 class="header-1"><mark id="golden">{{ user_data["username"][0] }}</mark>{{
                        user_data["username"][1:] }}</h1>
                </div>
                {% else %}
                <div id="username" class="input-block">
                    <h1 class="header-1"><mark id="golden">{{ user_data["username"][0] }}</mark></h1>
                </div>
                {% endif %}
                <div id="avatar" class="input-block">
                    <img src="{{ url_for('static', filename=user_data['avatar']) }}" class="avatar">
                </div>
                <!-- 
                <div id="username" class="input-block">
                    <p class="username">{{ user_data["username"] }}</p>
                </div> -->

                <div id="names" class="input-block">
                    <p class="names">{{ user_data["name"] }} {{ user_data["surname"] }}</p>
                </div>

                <div id="email" class="input-block">
                    <p class="email">{{ user_data["email"] }}</p>
                </div>

                <div id="gradeNfaculty" class="input-block">
                    <p class="gradeNfaculty">{{ user_data["grade"] }} {{ user_data["faculty"] }}</p>
                </div>

                <div id="submit" class="input-block">
                    <button onclick="window.location.href='/edit_profile'" type="button" class="submit">🖋️</button>
                </div>


            </div>
            {% endif %}
        </div>
    </form>

    <div class="statistics">
        <div class="content">
            <div id="header" class="input-block">
                <h1 class="header-1"><mark id="golden">Personal</mark> Statistics</h1>
            </div>

            <div id="rating" class="input-block">
                <p class="rating">{{ user_data["rating"] }}</p>
            </div>
        </div>
    </div>
    {% if user_events and user_events != -1 %}
    {% for event in user_events %}
    <div class="user">
        <img src="{{ url_for('static', filename=event['image']) }}">

        <p class="type">{{ event["type"] }}</p>

        <p class="datetime">{{ event["datetime"] }}</p>
        <p class="title">{{ event["title"] }}</p>

        <p class="content">{{ event["content"] }}</p>

        <input name="event_title" type="hidden" value="{{ event['title'] }}">
        <button type="button" onclick="window.location.href='/event/{{ event['title'] }}'">View Event</button>
    </div>
    </div>
    {% endfor %}
    {% endif %}
</body>


</html>