<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link href="{{ url_for('static', filename='styles/global.css') }}" rel="stylesheet">

        <title>Ratings Page</title>
    </head>

    <body>
        <h1>Ratings Page</h1>
        
        {% if ratings %}
            {% for rating in ratings %}
                <div class="user">
                    <img src="{{ url_for('static', filename=rating['avatar']) }}">
                    
                    <p class="username">{{ rating["username"] }}</p>

                    <p class="name">{{ rating["name"] }}</p>
                    <p class="surname">{{ rating["surname"] }}</p>

                    <p class="email">{{ rating["email"] }}</p>

                    <p class="gradeNfaculty">{{ rating["grade"] }} {{ rating["faculty"] }}</p>

                    <p class="rating">{{ rating["rating"] }}</p>

                    <p class="role">{{ rating["role"] }}</p>

                    <form method="POST">
                        <input name="username" type="hidden" value="{{ rating['username'] }}">
                        <button type="submit">View User</button>
                    </form>

                </div>
            {% endfor %}
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
    <style>
        .user{
            position: relative;
            
            width: 100%;
            height: 50px;

            display: flex;

            margin-top: 1px;
        }

        p{
            position: relative;

            margin-left: 10px;
        }
    </style>
</html>