<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Verification Page</title>
    </head>

    <body>
        <h1>Verification</h1>
        <form method="POST">

            <p>Do not close this page!</p>

            <label for="code">code</label>
            <input type="text" name="code">

            <button type="submit">submit</button>
            

            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </form>
    </body>
</html>