@media screen and (orientation: landscape) {
    * {
        --font-size--: 20pt;

        --background-color--: black;
        --text-color--: white;

        --golden--: #ebd37c;
        --lavender--: #6f51c1;
    }

    #golden {
        color: var(--golden--);
        background-color: rgba(0, 0, 0, 0);
    }

    html,
    body {
        background-color: var(--background-color--);
        color: var(--text-color--);

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    .statistics {
        position: relative;

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;

        /* vertical-align: middle;
        align-items: center;
        justify-content: center; */

        margin-left: auto;
        margin-right: auto;

        margin-top: 100px;
    }

    p {
        font-size: var(--font-size--);
        margin: 0;
    }

    #rating-p {
        font-size: 40pt;
        color: var(--lavender--);

        width: 100%;

        text-align: center;
    }

    .content {
        position: relative;
        border: 3px var(--golden--);
        border-style: dashed;
        border-radius: 50% 20% / 10% 40%;
        ;

        margin-left: auto;
        margin-right: auto;

        padding: 10% 20% 10% 20%;

        display: block;
    }

    .rating {
        position: relative;

        margin-left: auto;
        margin-right: auto;

        max-width: 500px;
        max-height: 500px;

        padding: 100px;
        margin: 0;

        color: var(--lavender--);
        font-size: 40pt;
    }

    #logo {
        position: absolute;

        width: 100%;
        height: 100%;

        margin-left: auto;
        margin-right: auto;

        top: 0;
        left: 0;
    }

    .label {
        position: relative;

        font-size: var(--font-size--);
    }

    /* 
    .input {
        position: relative;

        background-color: rgba(0, 0, 0, 0) !important;
        border-color: rgba(0, 0, 0, 0) !important;

        border-bottom-color: var(--golden--) !important;

        text-align: center !important;

        margin: 0;
        padding: 0;

        font-size: var(--font-size--);

        color: var(--lavender--);


    } */

    .input:focus {
        /* border: none !important; */
        outline: none !important;

        /* color: var(--text-color--); */
        font-size: var(--font-size--);

        text-align: center !important;
    }


    .header-1 {
        position: relative;

        width: 100%;

        text-align: center;

        margin: 0;
        padding: 0;

        font-size: 40pt;
    }

    .avatar {
        position: relative;

        max-width: 300px;
        max-height: 300px;

        margin-left: auto;
        margin-right: auto;

        border-radius: 100% 100% 100% 100%;
    }

    .input-block {
        position: relative;

        margin-left: auto;
        margin-right: auto;

        text-align: center;

        margin-top: 40px;

        display: flex;
        flex-direction: column;

        color: var(--text-color--)
    }



    .flashed_messages {
        position: fixed;

        z-index: 1000;

        /* bottom: 15px;
        right: 15px; */

        bottom: 15px;
        right: 15px;

        color: var(--text-color--);

        color: 0;
        bottom: -20%;
        animation: slide_in_out 5s ease-in-out;
    }

    .flashed_message {
        color: var(--text-color--);
        font-size: var(--font-size--);

        margin: 0;
        padding: 15px;
    }

    @keyframes slide_in_out {
        0% {
            bottom: -20%;
            background-color: none;
            color: none;
        }

        20% {
            bottom: 15px;
            background-color: var(--golden--);
            color: var(--font-size--);
        }

        80% {
            bottom: 15px;
            background-color: var(--golden--);
            color: var(--font-size--);
        }

        100% {
            background-color: none;
            bottom: -20%;
            color: none;
        }
    }

    * {
        --font-size--: 20pt;

        --background-color--: black;
        --text-color--: white;

        --golden--: #ebd37c;
        --lavender--: #6f51c1;


        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #golden {
        color: var(--golden--);
        background-color: rgba(0, 0, 0, 0);
    }

    #lavender {
        color: var(--lavender--);
        background-color: rgba(0, 0, 0, 0);

    }

    html,
    body {
        background-color: var(--background-color--);
        color: var(--text-color--);

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .main-form {
        position: relative;

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;

        vertical-align: top;
        align-items: start;
        justify-content: start;

        margin-left: auto;
        margin-right: auto;

        margin-top: 20px;

    }


    .label {
        position: relative;

        font-size: var(--font-size--);
    }

    .input {
        position: relative;

        background-color: rgba(0, 0, 0, 0) !important;
        border-color: rgba(0, 0, 0, 0) !important;

        border-bottom-color: var(--golden--) !important;

        text-align: center !important;

        margin: 0;
        padding: 0;

        font-size: var(--font-size--);
        /* color: var(--text-color--); */

        color: var(--text-color--);


    }

    .input:focus {
        /* border: none !important; */
        outline: none !important;

        /* color: var(--text-color--); */
        font-size: var(--font-size--);

        text-align: center !important;
    }

    .header-1 {
        position: relative;

        width: 100%;

        text-align: center;

        margin: 0;
        padding: 0;

    }

    .accept {
        position: relative;

        width: 100%;
    }

    .submit,
    .save_1 {
        position: relative;

        margin-left: auto;
        margin-right: auto;

        font-size: var(--font-size--);

        width: 100%;

        background-color: rgba(0, 0, 0, 0);

        color: var(--text-color--);

        border: var(--golden--) 3px solid;
        border-radius: 15px;

        transition: all 1s ease-in-out;
    }

    .submit:hover,
    .save_1:hover {
        /* background-color: var(--lavender--);
        border-color: var(--lavender--); */
        background-color: var(--lavender--);
        border-radius: 5px;

    }

    .grade {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        padding: 15px;

        background-color: rgba(0, 0, 0, 0) !important;

        color: var(--text-color--);

        border-color: rgba(0, 0, 0, 0);

        border-bottom: 3px solid var(--golden--);

        outline: rgba(0, 0, 0, 0) !important;
        outline-color: rgba(0, 0, 0, 0) !important;

        text-align: center;
        font-size: var(--font-size--);

        -webkit-appearance: none;
        /* Safari и Chrome */
        -moz-appearance: none;
        /* Firefox */
        appearance: none;

        transition: all 1s ease-in-out;
    }


    .grade option {
        background-color: var(--background-color--);
        outline: none !important;

        text-align: center;
    }

    .grade option:hover {
        background-color: var(--lavender--);
    }


    .flashed_messages {
        position: fixed;

        z-index: 1000;

        /* bottom: 15px;
        right: 15px; */

        bottom: 15px;
        right: 15px;

        color: var(--text-color--);

        color: 0;
        bottom: -20%;
        animation: slide_in_out 5s ease-in-out;
    }

    .flashed_message {
        color: var(--text-color--);
        font-size: var(--font-size--);

        margin: 0;
        padding: 15px;
    }

    @keyframes slide_in_out {
        0% {
            bottom: -20%;
            background-color: none;
            color: none;
        }

        20% {
            bottom: 15px;
            background-color: var(--golden--);
            color: var(--font-size--);
        }

        80% {
            bottom: 15px;
            background-color: var(--golden--);
            color: var(--font-size--);
        }

        100% {
            background-color: none;
            bottom: -20%;
            color: none;
        }
    }



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        padding: 24px;
    }

    .select {
        width: 200px;
        border: 1px solid #000;
        border-radius: 6px;
        outline: none;
        position: relative;
        cursor: pointer;
        user-select: none;

        margin-left: auto;
        margin-right: auto;

        font-size: var(--font-size--);

        border-bottom: solid 3px var(--golden--);
    }

    .select_value {
        padding: 6px 12px;
        display: block;
    }

    .select_dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style-type: none;
        border: 1px solid #000;
        background-color: var(--background-color--);
        z-index: 10;

        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        border-top: none;
        border-radius: 0 0 6px 6px;
    }

    .select.open .select_dropdown {
        max-height: 150px;
        opacity: 1;
        transform: translateY(0);
        overflow-y: auto;
    }

    .select_dropdown::-webkit-scrollbar {
        width: 8px;
    }

    .select_dropdown::-webkit-scrollbar-track {
        background: var(--background-color--);
        border-radius: 0 3px 3px 0;
    }

    .select_dropdown::-webkit-scrollbar-thumb {
        background: var(--text--);
        border-radius: 4px;
    }

    .select_dropdown::-webkit-scrollbar-thumb:hover {
        background: var(--text-color--);
    }

    /* Для Firefox */
    .select_dropdown {
        scrollbar-width: thin;
        scrollbar-color: var(--text-color--) var(--background-color--);
    }

    .select_option {
        padding: 6px 12px;
        transition: background-color 0.2s ease;
    }

    .select_option:hover {
        background-color: gray;
    }

    .avatar-editor {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        display: none;
        padding: 20px;
        border-radius: 10px;
    }

    .close-editor {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 24px;
        cursor: pointer;
        background: var(--golden--);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1001;
    }

    .close-editor {
        position: absolute;
        top: -40px;
        right: -40px;
        color: white;
        font-size: 30px;
        cursor: pointer;
        background: var(--golden--);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .preview-container {
        position: relative;
        width: 100%;
        max-width: 300px;
        aspect-ratio: 1/1;
        margin: 0 auto;
        border: 2px dashed #ccc;
        overflow: hidden;
    }

    #imagePreview {
        position: absolute;
        max-width: none;
        cursor: move;
        transform-origin: top left;
        touch-action: none;
        -webkit-user-drag: none;
        pointer-events: auto;
    }

    .crop-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #007bff;
        box-sizing: border-box;
        pointer-events: none;
        z-index: 10;
    }

    .controls {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    input[type="file"] {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .hidden {
        display: none;
    }

    #avatarData {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-family: monospace;
    }

    .zoom-controls {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .zoom-controls button {
        padding: 5px 15px;
        font-size: 18px;
    }

    .avatar-container {
        position: relative;
        display: inline-block;
        margin: 0 auto;
    }

    .avatar-change-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

    .avatar-container:hover .avatar-change-icon {
        opacity: 1;
    }

    .avatar-change-icon svg {
        width: 50px;
        height: 50px;
        fill: var(--golden--);
    }

    .confirm-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--background-color--);
        border: 2px solid var(--golden--);
        border-radius: 10px;
        padding: 20px;
        z-index: 1000;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        display: none;
    }


    .confirm-dialog h3 {
        color: var(--text-color--);
        margin-bottom: 15px;
        text-align: center;
        font-size: var(--font-size--);
    }

    .confirm-dialog input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        background: transparent;
        border: 1px solid var(--golden--);
        border-radius: 5px;
        color: var(--text-color--);
        text-align: center;
        font-size: var(--font-size--);
    }


    .confirm-dialog p {
        color: var(--text-color--);
        margin-bottom: 20px;
        text-align: center;
        font-size: var(--font-size--);
    }

    .confirm-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .confirm-button {
        padding: 8px 20px;
        border: 1px solid var(--golden--);
        border-radius: 5px;
        background: transparent;
        color: var(--text-color--);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .confirm-button:hover {
        background: var(--lavender--);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
        display: none;
    }
}