@media screen and (orientation: landscape) {
    *{
        --font-size--: 20pt;

        --background-color--: black;
        --text-color--: white;

        --golden--: #ebd37c;
        --lavender--: #6f51c1;
    }

    #golden{
        color: var(--golden--);
        background-color: rgba(0,0,0,0);
    }

    html, body{
        background-color: var(--background-color--);
        color: var(--text-color--);

        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .login-form{
        position: relative;

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;

        vertical-align: middle;
        align-items: center;
        justify-content: center;

        margin-left: auto;
        margin-right: auto;

        /* margin-top: 10px; */

    }

    .content{
        position: relative;
        border: 3px var(--golden--) solid;
        border-radius: 200% 40% 200% 40%;

        padding: 20%;
        
        display: block;
    }

    .label{
        position: relative;

        font-size: var(--font-size--);
    }
    
    .input{
        position: relative;

        background-color: rgba(0,0,0,0) !important;
        border-color: rgba(0,0,0,0) !important;

        border-bottom-color: var(--golden--) !important;

        text-align: center !important;

        margin: 0;
        padding: 0;

        font-size: var(--font-size--);
        /* color: var(--text-color--); */

        color: var(--lavender--);
        

    }

    .input:focus{
        /* border: none !important; */
        outline: none !important;

        /* color: var(--text-color--); */
        font-size: var(--font-size--);

        text-align: center !important;
    }

    .header-1{
        position: relative;

        width: 100%;

        text-align: center;

        margin: 0;
        padding: 0;

    }

    .input-block{
        position: relative;

        margin-left: auto;
        margin-right: auto;

        text-align: center;

        margin-top: 5px;

        display: flex;
        flex-direction: column;
    }
    
    .submit{
        position: relative;

        margin-left: auto;
        margin-right: auto;

        font-size: var(--font-size--);

        width: 50%;

        background-color: rgba(0,0,0,0) ;

        color: var(--text-color--);

        border: var(--golden--) 3px solid;
        border-radius: 15px;

        transition: all 1s ease-in-out;
    }

    .submit:hover{
        /* background-color: var(--lavender--);
        border-color: var(--lavender--); */
        background-color: var(--lavender--);
        border-radius: 5px;

    }

    .flashed_messages{
        position: fixed;

        z-index: 1000;

        /* bottom: 15px;
        right: 15px; */

        bottom: 15px;
        right: 15px;

        color: var(--text-color--);

        color: 0;
        bottom: -20%;
        animation: slide_in_out 5s ease-in-out;
    }

    .flashed_message{
        color: var(--text-color--);
        font-size: var(--font-size--);

        margin: 0;
        padding: 15px;
    }

    @keyframes slide_in_out {
        0%{
            bottom: -20%;
            background-color: none;
            color: none;
        }

        20%{
            bottom: 15px;
            background-color: var(--golden--);
            color: var(--font-size--);
        }

        80%{
            bottom: 15px;
            background-color: var(--golden--);
            color: var(--font-size--);
        }

        100%{
            background-color: none;
            bottom: -20%;
            color: none;
        }
    }
}